.window {
  width: 80% !important;
}

.window-main-col {
  width: 80% !important;
}

.js-edit-action {
  /* font-size: 23px; */
  /* color: #212529; */
  /* background-color: transparent; */
  color: #fff !important;
  background-color: #007bff;
  border-color: #007bff;
  opacity: 50%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.js-confirm-delete-action {
  /* font-size: 23px; */
  /* color: #212529; */
  /* background-color: transparent; */
  color: #fff !important;
  background-color: #dc3545;
  border-color: #dc3545;
  opacity: 50%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.board-menu {
  width: 40% !important;
}

.board-menu-header-title {
  display: none;
}

.board-header-btn.mod-show-menu {
  min-width: 800px;
}

.board-menu-header-close-button {
  width: 90% !important;
}

.list {
  opacity: 90%;
  /* transition: .2s ease-in-out .2s; */
}

.list:hover {
  opacity: 100%
}

.action-comment:hover pre {
  max-height: 100% !important;
}