.window {
  width: 80% !important;
}

.window-main-col {
  width: 80% !important;
}

.js-edit-action {
  font-size: 23px;
}

.board-menu {
  width: 40% !important;
}

.board-menu-header-title {
  display: none;
}

.board-header-btn.mod-show-menu {
  min-width: 800px;
}

.board-menu-header-close-button {
  width: 90% !important;
}

.list {
  opacity: 90%;
  /* transition: .2s ease-in-out .2s; */
}

.list:hover {
  opacity: 100%
}